/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1550px) {
  .home-image {
    min-width: 600px; }
  h1 {
    font-size: 200px; }
  .home-content:before {
    width: 864px;
    height: 696px;
    left: 0; } }

@media only screen and (max-width: 1350px) {
  .home-image {
    min-width: 450px;
    margin: 0 -60px 0 0; }
  h1 {
    font-size: 155px;
    line-height: 1;
    margin: 0; }
  h2 {
    font-size: 90px;
    line-height: 1; }
  .advantages-box {
    padding: 30px 10px;
    font-size: 18px; }
  .documents-card {
    padding: 30px 20px; }
  .documents {
    padding: 100px 0 150px; }
    .documents:before {
      right: 0;
      width: 550px; }
    .documents:after {
      right: 600px;
      width: 300px; }
  .list-messengers li {
    margin: 0 20px 0 0; }
  .home-day-title {
    font-size: 50px; }
  .purchase-term-content .box-text {
    font-size: 22px;
    line-height: normal; }
  .purchase-term-content h4 {
    margin: 40px 0 30px; }
  .purchase-term-content__image {
    max-width: 220px;
    min-width: auto; }
  .purchase-term-content .percent {
    font-size: 200px; }
  .purchase-term-box {
    padding: 30px 20px; }
    .purchase-term-box__icon {
      margin: 0 auto 20px; }
  .list-characteristics {
    padding: 0 15px 0 0;
    margin: 0 15px 0 0; }
  .choice-variable__text {
    padding: 20px; }
  .nav-tabs-life .nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .nav-tabs-life .nav-link {
    font-size: 16px;
    padding: 0 20px 20px 0;
    min-width: auto;
    min-height: 70px;
    width: 100%; }
    .nav-tabs-life .nav-link.active {
      min-width: auto;
      padding: 0 20px 20px 0;
      font-size: 18px; }
  .tooltip-box {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 20px; } }

@media only screen and (max-width: 1200px) {
  header {
    padding: 20px 0; }
  .home-image {
    min-width: 400px; }
  .home-content:before {
    width: 664px;
    height: 596px; }
  h1 {
    font-size: 130px; }
  h2 {
    font-size: 80px;
    margin: 0 0 40px; }
  .logo {
    max-width: 300px; }
  .start-order {
    padding: 30px 30px 110px; }
    .start-order:before {
      left: 50%;
      right: auto;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
  .decor1 {
    max-width: 100px; }
  .decor2 {
    max-width: 350px;
    left: 200px; }
  .decor3 {
    max-width: 150px; }
  footer .phone {
    font-size: 30px;
    margin: 0; }
  footer .logo {
    margin: 0 0 40px; }
  .address {
    font-size: 20px; }
  .footer-box__title {
    font-size: 30px; }
  .address-icon {
    width: 20px;
    min-width: 20px; }
  .callback-wrapper {
    padding: 20px; }
  .home-day-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .home-day-content .box-text {
      width: 100%;
      padding: 0; }
  .home-day .btn {
    margin: 20px 0 0; }
  .home-day-title {
    font-size: 40px; }
  .input-range-wrapper {
    width: 260px;
    margin: 50px 0 0; }
  .sorting-home {
    padding: 20px; }
  .tour-section-footer .btn {
    width: 100%; }
  .tour-section-footer__img {
    position: relative;
    right: 0;
    margin: 20px auto 0; }
  .steps-works h2 {
    margin: 0 0 30px; }
  .steps-works h3 {
    margin: 0 0 20px; }
  .steps-works-images .image {
    width: 100%;
    height: 365px; }
  .nav-tabs .nav-item {
    margin: 0 10px 0 0; }
  .tab-content {
    margin: 30px 0 0; }
  .select {
    padding: 0 48px 0 28px;
    background-position: calc(100% - 15px) center; }
  .sorting-wrapper label {
    margin: 0 20px 0 0; }
  .gallery-steps__date {
    font-size: 30px;
    line-height: normal; }
  .gallery-steps__content {
    padding: 20px; }
  .life-family:before {
    right: 300px;
    width: 250px; }
  .life-family h2 {
    margin: 0 0 60px;
    font-size: 200px; }
    .life-family h2 span {
      font-size: 50px;
      line-height: 1; }
  .purchase-term .nav-tabs .nav-item {
    margin: 0 10px 10px 0; }
    .purchase-term .nav-tabs .nav-item:last-child {
      margin: 0; }
  .purchase-term .tab-content .box-text {
    margin: 0 0 30px; }
  .purchase-term-content:before {
    height: calc(100% - 90px); }
  .purchase-term-content__text {
    width: calc(100% - 120px); }
  .choice-layout {
    margin: 60px 0 100px; }
  .about-slider-item__title {
    font-size: 50px;
    padding: 20px 30px;
    line-height: 1; }
  .about h2 {
    margin: 0 0 30px; }
  .about-image {
    margin: 0 auto 40px; }
  .location-family {
    margin: 130px 0 80px; }
    .location-family h2, .location-family .box-text {
      margin: 0 0 50px; }
  .nav-tabs-location .nav-item {
    margin: 0 0 20px; }
  .nav-tabs-location .nav-link {
    padding: 0 0 15px; }
  .list-result-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .list-result-td strong {
    display: block; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1110px) {
  .form-callback .form-group {
    width: 100%;
    max-width: calc(50% - 10px); }
    .form-callback .form-group:nth-child(2) {
      max-width: calc(50% - 10px); }
    .form-callback .form-group:last-child {
      max-width: none; }
  .form-callback label {
    width: 100%; }
  .form-callback button {
    margin: 20px auto 0;
    max-width: 300px; }
  footer {
    padding: 156px 0 48px; } }

@media only screen and (max-width: 992px) {
  .logo {
    max-width: 200px; }
  h1 {
    text-align: center;
    margin: 0 auto 20px;
    font-size: 100px; }
  .home-image {
    min-width: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 400px; }
  .home-content {
    padding: 150px 0 300px; }
    .home-content:before {
      width: 564px;
      height: 496px;
      top: 40px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
  .home-bg {
    margin: -220px auto 0; }
  .hots {
    margin: 60px 0; }
  .start-order h2 {
    text-align: center; }
  .documents {
    padding: 60px 0 300px; }
    .documents:before {
      width: 400px;
      height: 530px;
      bottom: -190px; }
    .documents:after {
      width: 250px;
      height: 380px;
      right: 420px;
      bottom: -100px; }
  .footer-wrapper {
    margin: 30px 0 0; }
  footer {
    background: #255728;
    padding: 30px 0; }
    footer .decor {
      display: none; }
    footer .logo {
      max-width: 100%; }
      footer .logo img {
        max-width: 200px; }
    footer .btn-group {
      margin: 0 auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
      footer .btn-group .btn {
        max-width: 320px;
        width: 100%; }
  .footer-wrapper-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .callback-wrapper {
    margin: 30px 0 40px; }
  .messengers {
    margin: 0 0 30px; }
  .footer-box {
    width: 50%; }
    .footer-box__title {
      font-size: 22px; }
  .callback-wrapper h3 {
    font-size: 24px; }
  .home-day {
    margin: 0; }
  .home-day-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .home-day-content .box-text {
      padding: 0 0 0 20px; }
  .sorting-home-form .form-col {
    border: none;
    padding: 0; }
  .sorting-home-form .form-col-sum {
    margin: 30px auto 0 0;
    width: calc(100% - 270px);
    padding: 0 20px 0 0; }
  .sorting-home-form button {
    margin: auto 0;
    max-width: 270px; }
  .input-range-wrapper {
    width: 100%;
    margin: 20px 0; }
  .tour-section-content {
    margin: 30px 0 0; }
  .tour-section-footer .btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .tour-section-footer__img {
    margin: 0; }
  .steps-works {
    padding: 100px 0 0; }
    .steps-works .box-text {
      max-width: none; }
  .sorting-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 20px 0 0; }
  .gallery-steps-wrapper, .video-box {
    margin: 0 0 20px; }
  .life-family:before {
    right: 150px; }
  .life-family h2 {
    font-size: 150px; }
    .life-family h2 span {
      font-size: 40px; }
  .purchase-term-content {
    padding: 0 30px 30px; }
    .purchase-term-content__image {
      right: 0; }
  .purchase-term h2 {
    margin: 0 0 30px; }
  .purchase-term .tab-content .box-text {
    max-width: none; }
  .purchase-term-content__text {
    width: calc(100% - 200px); }
  .form-layout h4 {
    margin: 0 0 20px; }
  .life-comfort-image {
    margin: 30px auto 0; }
  .life-comfort {
    padding: 70px 0 0;
    margin: 60px 0 80px; }
    .life-comfort:before {
      display: none; }
    .life-comfort h2 {
      margin: 0 0 30px;
      padding: 0 240px 0 0; }
      .life-comfort h2 img {
        max-width: 200px; }
    .life-comfort .tab-content {
      margin: 50px 0 0; }
  .about-image {
    max-width: 400px; }
  .about .box-text {
    max-width: none;
    margin: 0 0 30px; }
  .about-slider-item-max, .about-slider-item {
    height: 255px; }
  .location-family {
    margin: 100px 0 80px; }
    .location-family .box-text {
      padding: 0;
      margin: 0 0 30px; }
  .nav-tabs-location {
    margin: 0 0 30px; }
    .nav-tabs-location .nav-link {
      font-size: 20px;
      padding: 0 0 10px; }
  .location-family-map {
    max-width: 550px; }
  .list-result-td {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding: 0 10px; }
    .list-result-td:last-child {
      width: 100%; }
    .list-result-td .btn {
      margin: 0 auto; }
  .sorting-home-result {
    padding: 30px; }
  .list-result__plane {
    width: 25%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .phone {
    margin: 0 20px 0 0;
    font-size: 18px; }
  .schedule {
    font-size: 16px; }
  .documents {
    padding: 60px 0 200px; }
    .documents:before {
      width: 250px;
      height: 400px;
      bottom: -200px; }
    .documents:after {
      width: 200px;
      right: 270px;
      height: 300px;
      bottom: -130px; }
  .map {
    width: 100%;
    height: 300px;
    margin: 20px 0 0; }
  .footer-wrapper__content {
    width: 100%; }
  .home-day {
    padding: 30px 20px 30px 60px; }
    .home-day:before {
      display: none; }
  .home-day-title:before {
    width: 40px;
    height: 40px;
    left: -50px; }
  .life-family:before {
    width: 200px;
    height: 320px;
    top: -120px;
    right: 30px; }
  .life-family h2 {
    font-size: 100px;
    margin: 0 0 30px; }
    .life-family h2 span {
      margin: 0 0 0 20px;
      font-size: 30px; }
  .w341, .w303, .life-family-slider__row .life-family-slider__box {
    width: 250px; }
  .life-family-slider__row .life-family-slider__box {
    height: 350px; }
  .h100 {
    height: 590px; }
  .h420 {
    height: 355px; }
  .choice-variable__text {
    width: 100%; }
  .choice-variable__content .btn {
    margin: 20px auto 0; }
  .nav-tabs-life .nav-item {
    width: 33.33%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 0 10px 0; }
    .nav-tabs-life .nav-item:last-child {
      margin: 0 0 10px; }
  .btn-tooltip {
    width: 40px;
    height: 40px; }
  .tooltip-wrapper1 {
    bottom: 100px; }
  .about-image {
    max-width: 300px; }
  .about-slider-item {
    margin: 0 0 30px; }
    .about-slider-item__title {
      font-size: 40px; }
  .about-slider .slick-dots {
    margin: 30px 0 0; }
  .location-family h2 {
    margin: 0 0 30px; }
  .location-family-item {
    font-size: 30px; }
  .location-family-map {
    max-width: 400px; }
  .list-result-td, .list-result__plane {
    width: 50%;
    margin: 0 0 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 70px; }
  h2 {
    font-size: 60px;
    margin: 0 0 30px; }
  .home-content {
    padding: 140px 0 230px; }
    .home-content:before {
      width: 364px;
      height: 296px;
      top: 70px; }
  .home-image {
    max-width: 300px; }
  .logo {
    max-width: 150px; }
  footer .phone {
    font-size: 24px; }
  footer .btn {
    margin: 0 0 20px; }
  footer .logo {
    margin: 0 auto 30px; }
  .address {
    font-size: 16px; }
  .footer-box {
    margin: 0 0 20px; }
  .form-callback .form-group {
    max-width: none; }
    .form-callback .form-group:nth-child(2) {
      max-width: none;
      margin: 13px 0 0; }
  .form-callback button {
    margin: 20px auto 0; }
  .home-day-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .home-day-content .box-text {
      padding: 0;
      margin: 20px 0 0; }
  .home-day-title {
    font-size: 30px; }
  .sorting-home-form .form-col {
    height: auto;
    margin: 0 0 20px; }
  .sorting-home-form .form-col-sum {
    width: 100%;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .sorting-home-form button {
    margin: 0 auto; }
  .tour-section__image {
    height: 400px; }
  .tour-section-footer .btn {
    width: 100%; }
  .tour-section-footer__img {
    margin: 20px auto 0; }
  .nav-tabs .nav-item {
    margin: 0 10px 10px 0; }
    .nav-tabs .nav-item:last-child {
      margin: 0; }
  .sorting-wrapper {
    margin: 10px 0 0; }
    .sorting-wrapper label {
      margin: 0 10px 10px 0; }
      .sorting-wrapper label:last-child {
        margin: 0; }
  .life-family {
    margin: 160px 0 -200px; }
    .life-family h2 span {
      display: block;
      margin: 10px 0 0; }
  .choice-variable__plane {
    height: 300px; }
  .btn-lupe {
    right: 20px;
    top: 20px; }
  .choice-variable__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .list-characteristics {
    margin: 0 0 10px;
    border: none;
    padding: 0;
    width: 100%; }
  .choice-variable {
    margin: 0; }
  .slick-arrow {
    width: 40px;
    height: 40px; }
    .slick-arrow svg {
      width: 10px;
      height: 20px; }
  .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0; }
  .planes-slider-nav .slick-dots {
    margin: 0 30px; }
  .choice-layout-banner__title {
    padding: 20px; }
    .choice-layout-banner__title span {
      font-size: 18px; }
  .nav-tabs-life .nav-item {
    width: 50%;
    border-right: none;
    margin-right: 0; }
  .life-comfort .tab-content {
    margin: 30px 0 0; }
  .life-comfort-image {
    height: 400px; }
  .tooltip-wrapper2 {
    top: 80px; }
  .location-family-map {
    max-width: 300px;
    height: 335px; }
  .location-family-item {
    width: 160px;
    height: 160px; } }

@media only screen and (max-width: 480px) {
  .logo {
    max-width: 130px; }
  header .phone {
    margin: 0; }
  header .schedule {
    display: none; }
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 40px; }
  .start-order {
    padding: 30px 30px 80px; }
    .start-order:before {
      height: 70px;
      width: 200px; }
  .home-content {
    padding: 100px 0 200px; }
  .home-image {
    max-width: 250px; }
  .home-bg {
    margin: -130px auto 0; }
  .copyright {
    padding: 0;
    width: 100%;
    margin: 0 0 10px; }
  .footer-box {
    width: 100%; }
  .documents {
    padding: 50px 0 100px; }
    .documents:before {
      width: 180px; }
    .documents:after {
      right: 0;
      left: 0;
      width: 120px; }
  .btn {
    padding: 12px 15px;
    font-size: 16px; }
  .home-day-content .box-text {
    font-size: 20px;
    line-height: normal; }
  .box-text {
    font-size: 18px;
    line-height: 1.4; }
  .tour-section__image {
    height: 300px; }
    .tour-section__image:before {
      width: 50px;
      height: 50px; }
  .steps-works-images {
    padding: 40px 0 0 50px; }
    .steps-works-images .image {
      height: 300px; }
      .steps-works-images .image:first-child {
        width: 200px;
        height: 210px; }
  .purchase-term-content__image {
    max-width: 120px; }
  .purchase-term-content__text {
    width: calc(100% - 130px); }
  .purchase-term-content .percent {
    font-size: 150px; }
  .purchase-term-content .box-text {
    font-size: 18px; }
  .purchase-term-content h4 {
    margin: 20px 0;
    font-size: 18px; }
  .planes-box {
    padding: 20px;
    height: 190px; }
    .planes-box__img {
      height: 100px; }
  .nav-tabs-life .nav-item {
    margin-right: 0;
    width: 50%; }
  .life-comfort h2 {
    padding: 0 170px 0 0; }
    .life-comfort h2 img {
      max-width: 150px; }
  .about-slider-item, .about-slider-item-max {
    height: 200px; }
  .about-slider-item__title {
    font-size: 30px; }
  .location-family {
    margin: 70px 0 60px; }
  .location-family-item {
    font-size: 24px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 370px) {
  .list-radio li {
    width: calc(50% - 10px); }
  .purchase-term-content__text {
    width: calc(100% - 100px); }
  .purchase-term-content__image {
    max-width: 110px; }
  .purchase-term .nav-tabs .nav-item {
    margin-right: 0;
    width: 100%; }
    .purchase-term .nav-tabs .nav-item .nav-link {
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .planes-slider .slick-list {
    margin: 0 -10px; }
  .planes-slider .slide {
    padding: 0 10px; }
  .choice-variable__plane {
    height: 250px; }
  .tooltip-box {
    min-width: 200px;
    max-width: 200px;
    font-size: 16px;
    line-height: normal; }
  .tooltip-wrapper3 {
    right: 80px; }
  .list-result-td, .list-result__plane {
    width: 100%;
    padding: 0; }
  .list-result-td strong {
    display: inline; } }
